<%include header%>
<body>
    <div class="app">
        <form class="frm" action="/login/admin" method="post">
            <div class="form-group">
                <div class="form-group"><img src="/images/maximlogo2-removebg-preview.png" alt="" srcset="" style="width: 100; height: 50;"></div>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                
            </div>

            <div class="form-group">
                <!-- <label for="">Username: </label> -->
                <input 
                    type="text" 
                    name="username"
                    id="username"
                    placeholder="Email" 
                    required>
            </div>
            <div class="form-group">
                <!-- <label for="">Password:</label> -->
                <input 
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required>
            </div>
            <div>
                <input type="submit" value="Login ">
            </div>
        </form>
    </div>
</body>