<!-- ====================navbar========================= -->

<nav class="navbar navbar-expand-lg bg-light fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/logos/black.png" alt="" width="150"></a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-lg-0">
         
          <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b><%=user.username%></b>  <img id = "" src="<%=user.photo%>" alt="" style = 'border-radius: 50%; width: 35; height: 35; background-image: url(/images/default.jpg);'>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><img id = "profilePic" src="<%=user.photo%>"" alt="" style = 'border-radius: 50%; width: 30; height: 30;'> Welcome <br>  </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item myBtn" id = "myBtn" href="/projectOwner/createProject">Create a project</a></li>
              <li><a class="dropdown-item" href="#">Notifications</a></li>
              <li><a class="dropdown-item" href="#">Personal identification</a></li>
              <li><a class="dropdown-item" href="#">Account settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/adminLogout">Sign out</a></li>
            </ul>
          </li>
        </ul>

        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
         -->
      </div>
    </div>
    
  </nav>
  <!-- <div class="row bg-green py-2 text-light">
  <div class="container  advert">
          Contact us via: 0204225473 / 054 69 50035
  </div>
</div> -->

  <!-- ===============================offcanvas=========================== -->
  <!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button> -->
  
  <div class="offcanvas top-rounded-corners offcanvas-start sidebar-nav bg-dark tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <a href="/admin/dashboard?id=<%=user.id%>" class="nav-link px-3 active">
              <span class="me-3 text-green"><i class="bi bi-speedometer2"></i></span>
              <span class="fs-4 text-green">Dashboard</span>
            </a>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-green" /></li>
          <li>
            <a
              class="nav-link px-3 sidebar-link active"
              data-bs-toggle="collapse"
              href="#users"
            >
              <span class="me-3 text-green"><ion-icon name="person"></ion-icon>
              </span>
              <span class="fs-4 text-green">Users</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="users">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="/admin/addUser" class="nav-link px-3 active">
                    <span class="me-2 text-green"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span class="text-green">Add User</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/manageUsers" class="nav-link px-3 active">
                    <span class="me-2 text-green"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span class="text-green">Manage Users</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-green" /></li>
          <li>
            <a
              class="nav-link px-3 sidebar-link active"
              data-bs-toggle="collapse"
              href="#projects"
            >
              <span class="me-3 text-green"><i class="bi bi-layout-split"></i></span>
              <span class="fs-4 text-green">Projects</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="projects">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="/admin/newProjects" class="nav-link px-3 active">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span class="text-green">New</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/reviewedProjects" class="nav-link px-3 active">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span class="text-green">Reviewed</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/publishedProjects" class="nav-link px-3 active">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span class="text-green">Funding</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="my-4"><hr class="dropdown-divider bg-green" /></li>
        </ul>
      </nav>
    </div>
  </div>