<%include header%>
<body>
    <div class="app">
        <form class="frm bg-light" action="/login/admin" method="post">
             <!-- the logo is here  -->
            <div>
             <div class="form-group"><img class="text-center" src="/images/logos/black.png" alt="" width="60%">
             <p class="display-4 text-green">Sign in </p>
             </div>

             <!-- and ends here  -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
                
            </div>

            <div class="form-group my-3">
                <!-- <label for="">Username: </label> -->
                <input 
                    type="text" 
                    name="username"
                    id="username"
                    placeholder="Email" 
                    required>
            </div>
            <div class="form-group my-3">
                <!-- <label for="">Password:</label> -->
                <input 
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required>
            </div>
            <div>
                <input type="submit" value="Login ">
            </div>
        </form>
       
    </div>
</body>