<%include header%> 
<%-include('navbarAuthenticated', {user: user})-%>

<body>
    <div class="create-project">
        <form class="frm createProject-form" action="/projectOwner/saveProject" method="post" enctype="multipart/form-data">
            <div class="form-logo"><img src="/images/logos/black.png" alt="" width="30%"></div>
            <div class="form-group my-3">
              <label for="">Project Title: </label>
              <input type="text" class="textinputs"  name="title" id="title" placeholder="Enter your project title"  required>
            </div>
            <br>
            <div class="form-group">
              <label for="projectDescription">Description of the project: </label>
              <textarea class="fs-5 p-2 textareainputs" name="projectDescription"  cols="30" rows="10" id="projectDescription" placeholder="Brief description of you project" required></textarea>
            </div>
            <br>
<!-- select category -->
            <div class="form-group">
              <label for="">Country: </label>
            <div>

                <select class="form-select form-select-lg mb-3" name="country" id="country" required>
                    <option class="inputFields" hidden="hidden" value="">Select a country</option> 
                    <option class="inputFields" value="Burkina Faso"><img src="/images/burkina-flag.jpg" alt="" style="width: 10%; height: 20px;"> Burkina Faso</option>
                    <option class="inputFields" value="Ghana"><img src="/images/gh-flag.jpg" alt="" style="width: 10%; height: 20px;"> Ghana</option>
                  
                </select>

                 </div> 
            </div>
<!-- select category end here -->

            <br>
            <div class="form-group">
                <label for="">Region: </label>
                <input class="textinputs" type="text"  name="region" id="region" placeholder="Project region"  required>
            </div>

            <br>
            <div class="form-group">
                <label for="">GPS Location: </label>
                <input class="textinputs" type="text"  name="gps"
                    id="gps"  placeholder="Enter the gps coordinates"  required>
              </div>
              <br>

              <div class="form-group">
                <label for="">Name of Organization: </label>
                <input  class="textinputs" type="text" name="org" id="org" placeholder="Enter your organization's name"  required>
              </div>

              <br>
              <div class="form-group">
                <label for="">Aimed result of the project: </label>
                <textarea  class="fs-5 p-2 textareainputs" name="projectGoal"  id="projectGoal"  cols="30"  rows="10"  placeholder="State the aimed result of you project"  required></textarea>

              </div>
              <br>
              <div class="form-group">
                <label for="">Impact of the project: </label>
                <textarea class="fs-5 p-2 textareainputs" name="projectImpact"  id="projectImpact"  cols="30"   rows="10" 
                  placeholder="Brief description of the impact of your project on digital transformation of Africa" 
                  required></textarea>
              </div>
              <br>

              <div class="form-group">
                <label for="">Initial Photos: </label>
                <input class="textinputs" type="file"  name="initialPhotos"  multiple="multiple"  required>
              </div>
              <br>

              <div class="form-group">
                <label for="">Campaign Start Date: </label>
                <input class="textinputs"  type="date"  name="startDate"  id="startDate"   required/>
              </div>
              <br>

              <div class="form-group">
                <label for="">Campaign End Date: </label>
                <input class="textinputs"  type="date"   name="endDate" id="endDate"   required/>
              </div>

              <br>
              <div class="form-group">
                <p class="h5">Social Media Links: </p>
                <br>
                <label for="youtubelink"><ion-icon name="logo-youtube"></ion-icon> &nbsp; YouTube: </label>
                <input  class="textinputs" type="text"  name="youtubelink" id="youtubelink"
                    placeholder="Enter youTube link where you can post promo video of the project" 
                    required>
                </div>
                <br>
                <div class="form-group">
                <label for="facebooklink"><ion-icon name="logo-facebook"></ion-icon> Facebook: </label>
                <input class="textinputs"  type="text"  name="facebooklink" id="facebooklink" placeholder="optional" >
                </div>
                <br>

                <div class="form-group">
                    <label for="twitterlink"><ion-icon name="logo-twitter"></ion-icon> Twitter: </label>
                <input class="textinputs" type="text"  name="twitterlink" id="twitterlink" placeholder="optional" >
              </div>
              <br>

              <div class="form-group">
                <label for="instagramlink"><ion-icon name="logo-instagram"></ion-icon> Instagram: </label>
                    <input class="textinputs" type="text"  name="instagramlink"  id="instagramlink"  placeholder="optional" >
                </div>
                <br>

                <div class="form-group">
                    <label for="amount">Amount Needed: </label>
                    <input class="textinputs"  type="text"  name="amount" id="amount" placeholder="0.00"  required>
                  </div>
                  <br>

                  <div class="form-group">
                       <label for="">Currency: </label>
                        <select class="form-select form-select-lg mb-3" name="currency" id="currency">
                        <option class="inputFields" value="">Choose currency</option>
                        <option class="inputFields" value="USD">CFA</option>
                        <option class="inputFields" value="GHS">GHS</option>
                    </select>
                  </div>

              <div>
                  <input type="submit" value="Create Project">
              </div>
        </form>
    </div>
    <%include footer%>

    <%include scripts%> 
</body>