<footer class="footer bg-light">
    <div class="container">
      <div class="footer-sections">
        <div><a class="nav-link active" href="/">Home</a></div>
      <div><a class="nav-link active" href="/about">About</a></div>
      <div><a class="nav-link active" href="/projects">Projects</a></div>
      <div><a class="nav-link active" href="/blog">Blog</a></div>
      </div>   
      <div class="footer-sections">
        <div><b>Learn more</b></div> 
        <div><a class="nav-link active" href="/faq">FAQ</a></div>
        <div><a class="nav-link active" href="/blog">MNFundAfric Blog</a></div>
        <div><a class="nav-link active" href="/pp">Privacy Policy</a></div>
        <div><a class="nav-link active" href="/tou">Terms of Use</a></div>
        <div><a class="nav-link active" href="/info">Company information</a></div>
      </div>   
      <div class="footer-sections">
        <div><b>Contact Us</b></div>
      </div>
    </div>
</footer>