<%include header%>  
 

<body>
    <%include navbar%> 
    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-primary" type="button" onclick="window.location.href='/login/google'"><ion-icon name="logo-google"></ion-icon>Sign up with Google</button>
        <button class="btn btn-primary" type="button" onclick="window.location.href='/login/facebook'"><ion-icon name="logo-facebook"></ion-icon>Sign up with facebook</button>
        <button class="btn btn-secondary" type="button" onclick="window.location.href='/login/github'"><ion-icon name="logo-github"></ion-icon>Sign up with GitHub</button>
        <button class="btn btn-secondary" type="button" onclick="window.location.href='/login/email'"><ion-icon name="mail-outline"></ion-icon>Sign up with Email</button>
    </div>

    <div id="loginContain">
        <div><img src="/images/MNFUNDAFRIC-logos_transparent.png" alt="" srcset="" width="400" height="150"></div>
        <div>We will not post without your permission</div>
        <div id="termsPolicies">By registering, the user agrees to comply with MNFundAfric's <a href=""> Terms of Use </a>  and  <a href=""> Privacy Policy.</a> </div>
        <div>Click <a href="">here</a> to sign up.</div>
    </div>
</body>
