<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient navbar-scroll myNav fixed" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/images/MNFUNDAFRIC-logos_transparent.png" alt="" width="200" height="80"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" href="#login-modal" role="button"><ion-icon name="person-outline" ></ion-icon>login</a>
          </li>
        </ul>
        <button type="button" class="btn btn-success btn-lg get-started" data-bs-toggle="modal" data-bs-target="#signup-modal">Get Started</button>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
         -->
      </div>
    </div>

    <div class="modal fade" id="signup-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
        <div class="app signup-modal">
          <form class="frm signup-form" action="/login" method="post">
            <div class="d-grid gap-2 col-12 mx-auto">
              <button class="btn btn-info" type="button" onclick="window.location.href='/login/auth/google'"><ion-icon name="logo-google"></ion-icon>Sign up with Google</button>
              <button class="btn btn-primary" type="button" onclick="window.location.href='/login/auth/twitter'"><ion-icon name="logo-facebook"></ion-icon>Sign up with facebook</button>
              <button class="btn btn-secondary" type="button" onclick="window.location.href='/login/github'"><ion-icon name="logo-github"></ion-icon>Sign up with GitHub</button>
              <button class="btn btn-light" type="button" onclick="window.location.href='/login/email'"><ion-icon name="mail-outline"></ion-icon>Sign up with Email</button>
          </div>
      
          <div id="loginContain">
              <div><img src="/images/MNFUNDAFRIC-logos_transparent.png" alt="" srcset="" width="400" height="150"></div>
              <div>We will not post without your permission</div>
              <div id="termsPolicies">By registering, the user agrees to comply with MNFundAfric's <a href=""> Terms of Use </a>  and  <a href=""> Privacy Policy.</a> </div>
          </div>
          <script type="text/javascript">
            $('#createAccBtn').click(function() {
                $('#signup-modal').modal('hide');
            });
        </script>
              <div>
                  <input type="button" class="btn btn-dark" id="createAccBtn" data-bs-toggle="modal" data-bs-target="#createAcc-modal" value="Create an Account">
              </div>
              
          </form>
      </div>
      </div>
      </div>
    </div>

    <div class="modal fade" id="createAcc-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
        <div class="app signup-modal">
          <form class="frm signup-form" action="/login/signup" method="post">
            <div><img src="/images/MNFUNDAFRIC-logos_transparent.png" alt="" width="400" height="150"></div>
            <div class="form-group">
              <label for="">Full Name: </label>
              <input 
                  type="text" 
                  name="name"
                  id="name"
                  placeholder="Enter your name" 
                  required>
            </div>
            <div class="form-group">
              <label for="">Email: </label>
              <input 
                  type="email" 
                  name="email"
                  id="email"
                  placeholder="Enter your email" 
                  required>
            </div>
            <div class="form-group">
              <label for="">Phone Number: </label>
              <input 
                  type="tel" 
                  name="phone"
                  id="phone"
                  placeholder="" 
                  required>
            </div>
            <div><input type="hidden" id="phoneCode" name="phoneCode"></div>
            <div class="form-group">
              <label for="">Password: </label>
              <input 
                  type="password" 
                  name="password"
                  id="password"
                  placeholder="Enter your password" 
                  required>
            </div>
              <div>
                  <input type="submit" value="Save">
              </div>
          </form>
      </div>
      </div>
      </div>
    </div>

    <div class="modal fade" id="login-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
        <div class="app">
          <form class="frm" action="/login" method="post">
              <div>
                <% if (message.length > 0) { %>
                  <script type="text/javascript">
                    $(window).load(function(){
                        $('#login-modal').modal('show');
                     });
                  </script>
                  <div class="alert alert-danger"><%= message %></div>
              <% } %>
                  <h1>Login</h1>
              </div>
              <div class="form-group">
                  <label for="">Email: </label>
                  <input 
                      type="email" 
                      name="username"
                      id="username"
                      placeholder="Enter your email" 
                      required>
              </div>
              <div class="form-group">
                  <label for="">Password:</label>
                  <input 
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Enter your password"
                      required>
              </div>
              <div>
                  <input type="submit" value="Login ">
              </div>
          </form>
      </div>
      </div>
      </div>
    </div>
  </nav>